$FONT-TEXT: Times, serif;

$COLOR-BACKGROUND: #B3DAEF;
$COLOR-TEXT-ERROR: #f00;
$COLOR-TEXT: #000;

$COLOR-LINK: $COLOR-TEXT;
$COLOR-LINK-HOVER: $COLOR-TEXT;

$TRANSITION-PERIOD: 0.1s;

$DESKTOP-WIDTH-MIN: 900px;

@mixin media-query($canvas) {
  @if $canvas == MOBILE {
    @media only screen and (max-width: $DESKTOP-WIDTH-MIN) { @content; }
  }
}
