$FONT-TEXT: 'Roboto', sans-serif;

$COLOR-BACKGROUND: #444;
$COLOR-TEXT-ERROR: #fff;
$COLOR-TEXT: #999;

$COLOR-LINK: $COLOR-TEXT;
$COLOR-LINK-HOVER: $COLOR-TEXT;

$TRANSITION-PERIOD: 0.1s;

$DESKTOP-WIDTH-MIN: 900px;

@mixin media-query($canvas) {
  @if $canvas == MOBILE {
    @media only screen and (max-width: $DESKTOP-WIDTH-MIN) { @content; }
  }
}
