<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="home-wrapper">
      <div class="page-content">
        <div class="signup-container">
          <div class="logo-image-container"><div class="logo-image"></div></div>
          <div class="aire-text">Aire<br>Airear<br>Aireación<br>Aireacción<br>Airreacción</div>
          <div class="date-image-container"><div class="date-image"></div></div>
          <div class="signup-text">Para conectarte al aire, suscríbete aquí:</div>

          <div id="mc_embed_signup">
            <form action="https://gmail.us2.list-manage.com/subscribe/post?u=8cd04acac9f4c66f950c480b5&amp;id=5483a4256c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <div id="mc-input-group" class="mc-field-group">
                    <label for="mce-EMAIL">E-mail</label>
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_8cd04acac9f4c66f950c480b5_5483a4256c" tabindex="-1" value="">
                </div>
                <div class="clear">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
              </div>
            </form>
          </div>

          <div class="signup-form">
            <label>E-mail</label>
            <input type="text" id="my-email-input" >
            <div id="my-signup-button" class="signup-button-image">suscribir</div>
          </div>
          <div id="my-signup-error" class="signup-error">error</div>
        </div>
      </div>

      <div class="video-container">
        <video width="100%" class="flotante-video" playsinline autoplay muted loop>
          <source src="{{ site.baseurl }}/images/movs/flotantes.webm" type="video/webm">
        </video>
      </div>

      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
      <script type='text/javascript' src="{{ site.baseurl }}/js/mc.js"></script>
    </div>
  </body>
</html>
